# Ignore .env file which contains sensitive data like DB passwords
.env

# Ignore virtual environment folder (venv)
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE-specific files (e.g., VS Code, JetBrains)
.vscode/
